.site-layout-header {
    display: flex;
    background-color: #fff;
    padding: 0px 24px;
}

.site-header-right {
    min-width: 220px;
    height: 100%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.site-header-logo {
    min-width: 148px;
    height: 100%;
    display: flex;
    padding-left: 16px;
    align-items: center;
}
.site-header-notice{
    width: 336px;
}

.site-global-header-index-action{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.site-header-logo>h1 {
    margin: 0px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
}

.site-layout-content {
    margin: 0 16px;
}

.site-layout-wrap {
    /* background-color: #fff; */
    /* padding: 24px; */
    min-height: 360px;
    /* box-sizing: border-box; */
}